Django>=4.2.27
django-formtools
Pillow
django-extensions
six
sorl-thumbnail
djangorestframework
django-braces
django-money
django-constance
redis
pytz
factory_boy
django-widget-tweaks
django-haystack
elasticsearch
sphinx
coverage
sqlparse>=0.5.4 # not directly required, pinned by Snyk to avoid a vulnerability
